<ion-toolbar>
  <div class="toolbar-head">
    <h2>Account</h2>
    <h3>Welcome Adedire</h3>
  </div>
</ion-toolbar>
<ion-content>
  <div class="page-wrapper">
    <h3 class="header">My Coffee Account</h3>
    <div class="menu-list">
      <div class="menu-item">
        <div class="left">
          <ion-icon class="left-icon" name="newspaper-outline"></ion-icon>
          <span class="menu-name">Orders</span>
        </div>
        <ion-icon class="right-icon" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="menu-item">
        <div class="left">
          <ion-icon class="left-icon" name="newspaper-outline"></ion-icon>
          <span class="menu-name">Pending Orders</span>
        </div>
        <ion-icon class="right-icon" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="menu-item">
        <div class="left">
          <ion-icon class="left-icon" name="heart-outline"></ion-icon>
          <span class="menu-name">Saved orders</span>
        </div>
        <ion-icon class="right-icon" name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="menu-item">
        <div class="left">
          <ion-icon class="left-icon" name="sync"></ion-icon>
          <span class="menu-name">recently viewed</span>
        </div>
        <ion-icon class="right-icon" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <h3 class="header">My Coffee Account</h3>
    <div class="menu-item">
      <div class="left">
        <ion-icon class="left-icon" name="newspaper-outline"></ion-icon>
        <span class="menu-name">Orders</span>
      </div>
      <ion-icon class="right-icon" name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="menu-item">
      <div class="left">
        <ion-icon class="left-icon" name="newspaper-outline"></ion-icon>
        <span class="menu-name">Orders</span>
      </div>
      <ion-icon class="right-icon" name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="menu-item">
      <div class="left">
        <ion-icon class="left-icon" name="newspaper-outline"></ion-icon>
        <span class="menu-name">Orders</span>
      </div>
      <ion-icon class="right-icon" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
