<ion-content [fullscreen]="true">
  <div class="page-wrapper">
    <div class="logo-container">
      <img src="../../../assets/img/koffee_logo.png"/>
    </div>
    <h2 class="form-header">Create an Account</h2>
    <form class="form">
      <label for="name" class="input-label">Name</label>
      <input type="text" id="name" class="form-control"/>
      <label for="email" class="input-label">Email</label>
      <input type="email" id="email" class="form-control"/>
      <label for="password" class="input-label">Password</label>
      <input type="password" id="password" class="form-control"/>
      <label for="cpassword" class="input-label">Confirm Password</label>
      <input type="password" id="cpassword" class="form-control"/>
      <button class="btn form-btn">Sign Up</button>
    </form>
    <span class="terms"><a>Terms of Service and Policy</a></span>
  </div>
</ion-content>
