ion-content {
  --background: var(--ion-color-custom-light);
}

.form-header {
  margin: 41px 0 20px 0;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}
.terms {
  margin-top: 155px;
}
