ion-content {
  --background: var(--ion-color-custom-light);
  --padding-end: 31px;
  --padding-start: 31px;
  --padding-bottom: 31px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;

}

.card-container {
  margin-top: 14px;
}
