<ion-toolbar>
  <h2 class="toolbar-heading">Cart</h2>
</ion-toolbar>
<ion-content>
  <div class="page-wrapper">
    <div class="cart-card-container">
      <div class="cart-card">
        <div class="cart-card-top">
          <div class="img-container">
            <ion-img src="assets/img/capuccino.png"></ion-img>
          </div>
          <div class="item-wrapper">
            <span class="item-title">Cappuccino</span>
            <span class="item-price"> &#163;20</span>
          </div>
        </div>
        <div class="cart-card-bottom">
          <div class="bottom-wrapper">
            <div class="bottom-left">
              <ion-icon name="heart" class="icon icon-heart"></ion-icon>
              <span class="delete-span">
                <ion-icon name="trash" class="icon icon-delete"></ion-icon>
                <span class="remove-text">Remove</span>
              </span>
            </div>
            <div class="bottom-right">
              <button class="minus-btn">
                <ion-icon name="remove"></ion-icon>
              </button>
              <div class="value">1</div>
              <button class="plus-btn"><ion-icon name="add"></ion-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="total-container">
      <p>Total</p>
      <p>&#163;40</p>
    </div>
    <button class="btn btn-dark">Complete Your Order</button>
  </div>
</ion-content>
