<ion-content [fullscreen]="true">
    <div class="page-wrapper">
      <div class="logo-container">
        <img src="../../../assets/img/koffee_logo.png"/>
      </div>
      <form class="form-wrapper">
        <label for="email" class="input-label">Email</label>
        <input type="email" id="email" class="form-control email-control"/>
        <label for="password" class="input-label">Password</label>
        <input type="password" id="password" class="form-control"/>
        <span class="forgot-password"><a>Forgot Password?</a></span>
        <button class="btn form-btn">Login</button>
      </form>
      <span class="or-span">or</span>
      <button class="btn email-signup_btn">Sign Up with Email</button>
      <button class="btn">Sign in with Google</button>
      <span class="terms"><a>Terms of Service and Policy</a></span>
    </div>
</ion-content>
