.search-container {
  margin-bottom: -35px;
}
.search-icon {
  font-size: 30px;
  color: var(--ion-color-custom-light);
  position: relative;
  top: -39px;
  left: 8px
}
*::placeholder {
  color: var(--ion-color-custom-light);
  font-size: 12px;
  font-weight: bold;
  padding-left: 30px;
}
